# Vendored font assets are byte-pinned to their upstream hashes (see
# ai-docs/plans/2026-07-17-render-design-tokens.design.md § Vendoring pin).
# `-text` disables EOL normalisation: without it, a `core.autocrlf` set in any
# contributor's personal ~/.gitconfig can rewrite an OFL.txt's CRLF endings at
# `git add` time, silently breaking its SHA-256 pin and the OFL's
# redistribution requirement. Face-independent — applies to every vendored
# font subdirectory, not just the one that first motivated it.
crates/render/fonts/** -text
